@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    /* margin: 0; */
    padding: 0;
    /* background-color: #f0f1f1; */
}

body {
    background-color: #fff7fbee;
    font-family: "Montserrat", sans-serif;
}

li,
a,
button {
    /* font-family: "Montserrat", sans-serif; */
    font-weight: 500;
    font-size: 16px;
    color: #080808;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}


.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #f02394;
    ;
}


.main-button {
    display: inline-flex;
    padding: 15px 30px;
    position: relative;
    background-color: #23A6F0;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    /* flex-direction: row; */
}

.main-button:hover {
    background-color: #f02394;
}

.fas {
    position: relative;
    margin-left: 10px;
    color: white;
    align-items: center;
}


/*This section adds the hero image and 2 buttons */

.bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/main-cover.png");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: 200px;
    /* transform: translate (-50%, -50%); */
}

.hero-text h2 {
    font-size: 60px;
}

.hero-text p {
    padding: 10px;
    font-size: 1em;
}

.hero-text .quote-button {
    margin: 10px;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    position: relative;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    background-color: #23A6F0;
    overflow: hidden;
    text-align: center;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
}

.hero-text .quote-button:hover {
    transition: all 0.3s ease 0s;
    background-color: #f02394;
}

.hero-text .learn-button {
    margin: 10px;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    position: relative;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    outline: none;
    /* border: white solid transparent; */
    border-color: aliceblue;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
}

.hero-text .learn-button:hover {
    transition: all 0.3s ease 0s;
    background-color: #f02394;
}

/* This section adds the content-box container values */

.container {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: auto;
}

.container .box-content {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
    justify-content: flex-start;
    background-color: white !important;
}

.container h2 {
    font-weight: 800;
}

.container>.box-content:nth-child(3) {
    background-color: #23A6F0 !important;
    color: white;
}

/*This section adds the three flex boxes*/

.body-content {
    position: relative;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    background-color: white !important;
}

.body-content .box-small {
    position: relative;
    box-sizing: border-box;
    align-items: center;
    margin: 10px;
    text-align: center;
    /* font-size: 30px; */
    cursor: pointer;
}

/*This section adds the industry team members */

.industry {
    position: relative;
    box-sizing: border-box;
    /* margin: 200px auto; */
    align-items: center;
    /* right: 20px; */
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.industry .industry-text {
    text-align: center;
    padding: 30px;
}

.industry .industry-text h2 {
    font-size: 50px;
}

.industry .profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.industry .team-profile .img-responsive {
    width: 50%;
    padding-top: 40px;
}

.industry .team-profile {
    width: 30%;
    border: 1px solid;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.industry .team-profile .checked {
    padding-bottom: 20px;
    color: orange;
}

/*This section adds the vector images*/

.partner-icons .icons{
    margin: 110px auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}


/*This section adds the search buttons*/

.search-btn {
    margin: 100px auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: linear-gradient(75deg, blue, red);
    width: 75%;
}

.search-btn .search-text {
    padding: 30px;
    color: white;
}

/*This section adds the pricing category section */

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pricing .text-pricing .bold-pricing {
    font-size: 1.8vw;
    font-weight: 800;
}

.pricing .text-pricing .plain-pricing {
    font-size: 1.1vw;
    color: var(--grey);

}

.pricing .card-pricing {
    display: flex;
    /* width: 80%; */

}

.pricing .c-plain {
    display: flex;
    flex-direction: column;
    width: 26vw;
    border: 2px solid var(--blue);
    background-color: white;
    border-radius: 10px;
    align-items: center;
    /* padding: 5% 1% 5% 1%; */
    box-sizing: border-box;
    height: 80vh;
    margin-top: 2.1%;

}

.pricing .c-plain button {
    background-color: #23A6F0;
    color: white;
    width: 14vw;
    margin-top: 5%;
    height: 2.5vw;
    border-radius: 10px;
    border: solid 1px;
}

.package {
    font-weight: 700;
    font-size: 1.6vw;
}

.cash {
    color: var(--blue)
}

.pricing .one {
    font-weight: 1000;

}

.pricing .two {
    font-size: 1.8vw;
}

.pricing sup~p {
    font-size: 2vw;
}

.pricing .standard button {
    background-color: var(--blue);
    color: white;
    width: 14vw;
    margin-top: 5%;
    height: 2.5vw;
    border-radius: 10px;
    border: solid 1px;
}


.pricing .standard {
    display: flex;
    flex-direction: column;
    width: 26vw;
    border: 2px solid var(--blue);
    background-color: #252B42;
    border-radius: 10px;
    color: white;
    align-items: center;
    /* padding: 5% 1% 5% 1%; */
    box-sizing: border-box;
    height: 85vh;

}

.pricing .standard .checked {
    background: green;
}

.pricing .standard .checked:checked:checked~.chec {
    border-color: #4AC072;
    background: #4AC072;
}

.pricing .standard button {
    background-color: #23A6F0;
    color: white;
    /* border: solid 1px; */
}

.radio {
    display: flex;
    flex-direction: column;
}

.radio input {
    margin-top: 1.1vw;
}

/*This section adds the map and footer section */

.map{
    background-color: #252B42;
    position: relative;
    height: 90vh;
    margin-top: 10vw;
    
}
.map .country-branches {
    display: flex;
    flex-direction: row;
    align-items: center;
    right: -16%;
    height: 20vh;
    padding-top: 10%;
    position: absolute;
}
.map .country-branches .text{
    width: 50%;
    color: white;
}
.h1{
    font-size: 3vw;
    font-weight: 800;
}
.map .country-branches img{
    width: 50%;
}

/*This section adds the Book Appointment section*/

.appointment{
    display: flex;
    background-color: #fff;
    height: 80vh;
    width: 50%;
    margin-top: 30%;
    position: absolute;
    right: 24%;
}
.appointment img{
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.appointment .contact{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.appointment .form-control{
    background: #fafafa;
    height: 3.1vw;
    padding: 15px;
        
}
.client-book{
    font-size: 1.6vw;
    font-weight: 900;
}

.contact label{
    margin-top: 0.9vw;
    font-weight: 900;
    align-items: center;
}
.contact textarea{
    margin-top: 1.1vw;
}
.contact .app-btn{
   background-color: #23A6F0;
   color: white;
   align-content: center;
   margin-top: 2vw;
   height: 50px;
   border-radius: 5px;
   border: solid 1px;
}
.contact-us{
   position: absolute;
   margin-top : 73%;
   left: 16%;
   display: flex;
   flex-direction: row;
   width: 100%;
   padding-bottom: 3vw;
}
.contact-us .text{
   width: 50%;
}
.contact-us .text  .contact-us-bold{
   font-size: 1.6vw;
   font-weight: 900;
}
.contact-us .text .contact-us-plain {
   font-size: 1.2vw;
   color: #5e5b5b;
}
.contact-us .contact-btn {
width: 50%;
}

.contact-btn button{
   background-color: #23A6F0;
   width: 10vw;
   color: white;  
   height: 3vw;
   border-radius: 6px;
   border: solid 1px;
}

/*This section adds the footer section of the landing page*/

.footer-section{
   display: flex;
   flex-direction: row;
   margin-top: 40%;
   justify-content: space-between;
   background-color: white;
}
.footer-section ul{
   list-style-type: none;
   cursor: pointer;
}
.footer-section ul li{
   padding-top: 0.8vw;
   color: #252B42;
}

.footer-section ul li:hover{
    transition: all 0.3s ease 0s;
    color: #f02394;
 }

.footer-links{
   font-size: 1.2vw;
   font-weight: 800;
   padding-bottom: 1.2vw;
}
.copyright-text{
   left: 3%;
   position: absolute;
}